@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #09122C;
  --off-white: #E17564;
  --dark-gray: #872341;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  /* max-width: 85%; */
  width: 100%;
}

.nav{

  padding: 1rem 1rem;
  background-color: var(--primary-color);
  border-bottom-right-radius: 0.5rem;
}
.brand{

  font-size:1.5rem ;
  color: var(--off-white);
  font-weight: bold;
}
.no-bullets{

  list-style: none;
  margin-left:60% ;
  padding: 0rem 0.5rem;
  
}
.inline{

  display: inline;
  font-size: larger;
  padding: 0.5rem 1.5rem;
  
}
.block{
  color: var(--off-white);
  text-decoration: none;

}
.active{

  font-weight: bold;
}

.imghead{

  padding: 1rem 1rem;
  text-align: center;
}
.img{

  width: 30%;
  margin: auto;
  padding: 0.5rem 0.5rem;
  display: block;
}
.imgclass{

  font-size: x-large;
  color: var(--dark-gray);
  

}
.imagedecor{

  color: var(--primary-color);
}

.seci{

  text-align: center;
  background-color: var(--off-white);
  padding: 0.5rem 1rem;
  border-radius:0.5rem ;
  
  
}
  

.offwhiteseco{

  font-size: large;
  
  
}


.text{
  
  font-size: small;
}

.sec{

  text-align: center;
  padding: 1rem 1rem;
}

.whiteseco{

  padding: 1rem 0.5rem;
}
.container-center{

  padding: 1rem 0.5rem;
}
.primary-link{

  padding: 0.5rem 0.5rem;
  background-color: var(--primary-color);
  color:var(--off-white);
  text-decoration: none;
  border-radius:1rem ;
  border-color: var(--off-white);
  margin-left: 1rem;
  margin-right: 1rem;
  
  
  
}
.secondary-link{

  padding: 0.5rem 0.5rem;
  border:solid 1px var(--primary-color);
  border-radius: 1rem;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--primary-color);

}

.footer{

  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
  border-top-right-radius: 0.5rem;
  
}
.footerh{

  font-size: 1.5rem;
  color: var(--off-white);
  font-weight: bold;
  margin: auto;
  margin-bottom: 1rem;
}

.padded{

  display: inline;
  text-align: center;
  padding-inline-start: 0%;
  padding: 1rem 1rem;
  margin-right: 2rem;
  list-style: none;
  
}
.linked{

  color: var(--off-white);
  text-decoration: none;
}
.imgb{

  width: 25%;
}
@media only screen and (min-width: 435px){


}

@media only screen and (max-width: 435px) {
.nav{

  border-bottom-right-radius: 0%;
  padding: 1.5rem;
}
.logoimg{
  position: absolute;
}
  .no-bullets{
display: flex;
margin-left: 0%;
justify-content: right;
padding: 0%;
  
    
  }
  .inline{

font-size: 0.7rem;
padding: 0.3rem;

  }
  .brand{
    font-size: 1rem;
  }
  .imgclass{
    font-size: large;
  }
  .container-center{
    padding: 0.5rem;
  }
  .seci{
    border-radius: 0%;
  }
  .offwhiteseci{

    font-size: large;
  }
  .offwhiteseco{
    font-size: small;
    font-weight: 100;
  }
  .whitesec{
    font-size: large;

  }
  .whiteseco{
    font-size: small;
    font-weight: 100;


  }
  .primary-link{

    padding:0.5rem;
    margin: auto;
    font-size: small;
  }
  .secondary-link{

    padding: 0.5rem;
    margin: auto;
    font-size: small;
  }
  .footer{

    padding: 1rem 1rem;
    border-top-right-radius: 0%;
    position: sticky;
    
  }
  .footerh{
    font-size: 0.5rem;
  }
  .padded{

    padding: 0%;
    
  }
  h3{
    font-size: small;
    font-weight: 100;

  }


}


